#OS junk files
[Tt]humbs.db
[Tt]humbs.db.meta
*.DS_Store

#Visual Studio files
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.[Cc]achefile
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*


#Unity Library folder
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
/ST3_BMU.sublime-project
/*.sublime-workspace
/*.sublime-project
